@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

/* Ensure body and html cover the full viewport height */
html,
body {
  height: 100%;
}
.buttonBorder {
  border: 1px solid rgba(255, 255, 255, 0.43);
}

.heroText {
  font-size: clamp(20px, 7vw, 48px);
}
img {
  max-width: 100%;
  display: block;
}
.bint-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.bint-grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.custom-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four equal columns */
  grid-template-areas:
    "grid1 grid2 grid2 grid2"
    "grid1 grid2 grid2 grid2"
    "grid3 grid3 grid3 grid4"
    "grid3 grid3 grid3 grid4";
  gap: 1rem; /* Optional: adds space between grid items */
}

/* Example item styles */
.grid2 {
  grid-area: grid2;
}
.grid1 {
  grid-area: grid1;
}
.grid4 {
  grid-area: grid4;
}
.grid3 {
  grid-area: grid3;
}
/* //Text animate */

@keyframes gradientAnimation {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient_col {
  background: linear-gradient(
    to right,
    rgb(250, 78, 10),
    rgb(247, 12, 204),
    rgb(0, 106, 255),
    rgb(48, 248, 255),
    rgb(250, 78, 10)
  );
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: gradientAnimation 3s linear infinite;
}
.gradient_col3 {
  background: linear-gradient(
    to right,
    rgb(48, 248, 255),
    rgb(0, 106, 255),
    rgb(48, 248, 255)
  );
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: gradientAnimation 3s linear infinite;
}
.gradient_col2 {
  background: linear-gradient(to right, #fff, #36454f, #fffff0, #fff);
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: gradientAnimation 3s linear infinite;
}

@layer components {
  .green {
    @apply bg-green-500;
  }
  .red {
    @apply bg-red-400;
  }
  .yellow {
    @apply bg-yellow-300;
  }
}
